*{
    background-color: #000000;
    margin: 0;
    padding: 0;
}
header{
    height: auto;
    text-align:center;
}
nav{
    text-align:center;
    padding-bottom: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 25px;
}

nav ul li a:hover {
    color: white;
}

nav ul li.active a {
    color: white;
    font-size: 30px;
    position: relative;
}

nav ul li.active a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(16, 200, 16);
    position: absolute;
    bottom: -5px;
    left: 0;
}
main{
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-left:240px;
    padding-right: 240px;
    color: white;
}
.carusel{
    height: 500px;
    width: 500px;
}
.nosotros{
    font-size: 25px;
}

.catalogo{
    height: 200px;  
    width: 200px;
}
header img{
    height: 150px;
    width: 750px;
}
footer{
    text-align: center;
    padding-top: 20px;
    height: 100px;
    color: white;
}
footer p{
    font-size: 100px;
    
}